<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 添加数据库连接相关配置信息 -->
<configuration>

    <properties resource="db.properties"/>
    
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--别名的配置  每个人必须会 -->
    <typeAliases>
        <package name="com.shsxt.mybatis.pojo"/>
    </typeAliases>

    <environments default="dev">
        <!-- 开发环境  数据源 -->
        <environment id="dev">
            <!-- 加入事务控制 -->
            <transactionManager type="jdbc"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="pooled">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

    </environments>


    <!-- mapper 配置文件指定 文件数量可配置多个-->
    <mappers>
        <package name="com.shsxt.mybatis.dao"/>
    </mappers>

</configuration>
